/* CSS for pdf */
/*.page .book-chapter{ display:none }*/

.pdf-header {
   margin-top: 20px;
   padding-bottom: 10px;
/*   border-bottom: 1px solid #eee;*/
   color: #333;
   display: none;
   border-bottom: none;
}

body {
    font-family: serif;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
}